/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

main {
    display: grid;
    grid-template-areas: ". grid .";
    grid-template-columns: 10px auto 10px;
    @include lg {
        grid-template-columns: auto 60% auto;
    }
    @include lg {
        grid-template-columns: auto 1400px auto;
    }

    > div {
        align-items: center;
        display: flex;
        grid-area: grid;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
    }
}
